<a href="https://colab.research.google.com/github/ni-metre/Colab_Triplet_Loss_Backup/blob/master/RealdataPickle_OldNewClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Set up gspread
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [2]:
#Mount the drive
from google.colab import drive
drive.mount('/content/drive')

% xmode verbose

Mounted at /content/drive
Exception reporting mode: Verbose

In [ ]:
#To remoount drive
drive.mount("/content/drive", force_remount=True)

In [3]:
# Load the Pandas libraries with alias 'pd' 
import sys
import os
import os.path
import pandas as pd
import numpy as np
from collections import defaultdict
import matplotlib.pyplot as plt
import pickle

from tensorflow.keras.preprocessing.sequence import pad_sequences

import datetime as datetime
import math
import random

In [4]:
sensor_of_interest = 9
base_name = 'Fakes_0' + str(sensor_of_interest)

rootdir = '/content/drive/My Drive/Scope_Fakes/'
#path to fake data
path = rootdir + base_name

pickle_path = '/content/drive/My Drive/Pickles'

#path to model checkpoints
checkpoint_path = '/content/drive/My Drive/Checkpoints'

#path to real data
real_path = '/content/drive/My Drive/Test_outputs/General'

In [5]:

#Run this to define import function, which gets called in each plotting function (in case Test_Log is updated)
def do_import():
  wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1xHVjmlRynUE6YYZFh8rvOuFd7Mb-eWHIIwvsTvndFkY/edit?usp=sharing')
  sheet = wb.worksheet('Test_Log')
  test_data = sheet.get_all_values()
  test_db_df = pd.DataFrame(test_data)

  test_db_df.columns = test_db_df.iloc[0]
  test_db_df= test_db_df.iloc[1:]

  
  test_db_df['Sensor']= test_db_df['Sensor'].replace("?", 0)
  for column in test_db_df[['Acetone', 'File', 'CO2', 'H2O', 'Sensor', 'Test_that_day', 'Time_Btwn_s', 'Instr_Temp', 'Baseline', 'Total_CO2', 'New_Baseline', 'Sample_rate']]:
      test_db_df[column] = pd.to_numeric(test_db_df[column])
  test_db_df.set_index('File', inplace = True)
  return(test_db_df)

In [6]:
#Check that Test_Log looks okay
test_db_df = do_import()

test_db_df.fillna(0, inplace= True)
test_db_df.head()

0    Raw_data       Test_name  H2O  ...  dx2_cross_t  dx2_cross_t_ix  dx2_cross_t_ix
File                                ...
3000  wav3000  Nitrogen blank    0  ...         1.88             188             188
3001  wav3000  Nitrogen blank    0  ...          1.8             180             180
3002  wav3001  Nitrogen blank    0  ...         1.76             176             176
3003  wav3001  Nitrogen blank    0  ...         1.72             172             172
3004  wav3002  Nitrogen blank    0  ...         1.75             175             175

[5 rows x 101 columns]

In [7]:
#Returns a list of tests that meet ALL of the criteria defined in the arguments
# Acetone can be a specific value, 'all', '>(value)' or '<(value)'
# CO2 can be a specific value, 'all' or '+' for CO@ values that are > 0
# H2O must be a specific value, almost always 10 for tests of interest
# Sensor can be a specific sensor number or 'all'
# Range1/2 is the lower and upper limit for the range of tests of interest from range1 to rang2 - 1

def get_test_list (df, Acetone, CO2, H2O, Sensor, Range1, Range2):

    if Sensor == 'all':
        filtered = df
    else:
        filtered = df[(df['Sensor'] == Sensor)]
    filtered = filtered.query('FLAG ==""')
    if Acetone != 'all':
        if str(Acetone)[:1] == '<':
            filtered = filtered[filtered['Acetone'].astype(float) < float(Acetone[1:])]
        else:
            if str(Acetone)[:1] == '>':
                filtered = filtered[filtered['Acetone'].astype(float) > float(Acetone[1:])]
            else:
                filtered = filtered[(filtered['Acetone'] == Acetone)]
    if CO2 != 'all':
        if CO2 == '+':
            filtered = filtered[(filtered['CO2'] != '0')]
        else:
            filtered = filtered[(filtered['CO2'] == CO2)]
    filtered = filtered[(filtered['H2O'] == H2O)]
    filtered['Tests'] = filtered.index  
    list_of_tests = filtered['Tests'].tolist()
    return([y for y in list_of_tests if ((int(y)>=Range1)&(int(y)<Range2))])
#Returns a list of tests that meet ALL of the criteria defined in the arguments
# SAME AS get_test_list above for the following
# Acetone can be a specific value, 'all', '>(value)' or '<(value)'
# CO2 can be a specific value, 'all' or '+' for CO@ values that are > 0
# H2O must be a specific value, almost always 10 for tests of interest
# Sensor can be a specific sensor number or 'all'
# Range1/2 is the lower and upper limit for the range of tests of interest from range1 to rang2 - 1
#BUT
# temp is a temperature value in degrees C
# and delta is range in degrees C above and below temp that will be included in the returned list

def get_test_list_Temp (df, Acetone, CO2, H2O, temp, delta, Sensor, Range1, Range2):

    if Sensor == 'all':
        filtered = df
    else:
        filtered = df[(df['Sensor'] == Sensor)]
    filtered = filtered.query('FLAG ==""')
    if Acetone != 'all':
        if str(Acetone)[:1] == '<':
            filtered = filtered[filtered['Acetone'].astype(float) < float(Acetone[1:])]
        else:
            if str(Acetone)[:1] == '>':
                filtered = filtered[filtered['Acetone'].astype(float) > float(Acetone[1:])]
            else:
                filtered = filtered[(filtered['Acetone'] == Acetone)]
    if CO2 != 'all':
        if CO2 == '+':
            filtered = filtered[(filtered['CO2'] != '0')]
        else:
            filtered = filtered[(filtered['CO2'] == CO2)]
    filtered = filtered[(filtered['H2O'] == H2O)]
    filtered['Tests'] = filtered.index
    filtered['Instr_Temp'] = pd.to_numeric(filtered['Instr_Temp'])
    filtered = filtered[filtered['Instr_Temp']>= temp - delta]
    filtered = filtered[filtered['Instr_Temp']<= temp + delta]
    list_of_tests = filtered['Tests'].tolist()
    return([y for y in list_of_tests if ((int(y)>=Range1)&(int(y)<Range2))])

In [12]:
sos_list = [9 , 10 , 14, 15, 23, 24]
maxtco2_list = [250, 250, 137, 137, 238, 238]

In [13]:
for i in range(0, len(sos_list)):
  sos = sos_list[i]
  print(sos)
  maxtco2 = maxtco2_list[i]
  real_test_set = get_test_list (test_db_df, 'all', '+', 10, sos, 3300, 20000)
  print(len(real_test_set))
  scale = 1
  cut_off_time = 30
  scale_factor = 1

  real_test_list = []
  real_Ac_list = []
  real_co2_list = []
  real_temp_list = []
  real_bl_list = []
  real_ttd_list = []
  real_tbtwn_list = []
  real_sensor_list = []
  labelList = []
  real_tco2_list = []

  for j in real_test_set:
          ac = float(test_db_df.loc[j, 'Acetone'])
          co2 = int(test_db_df.loc[j, 'CO2'])/(2000*scale_factor)
          temp = float(test_db_df.loc[j, 'Instr_Temp'])
          bs = float(test_db_df.loc[j, 'Baseline'])
          timebtwn = float(test_db_df.loc[j, 'Time_Btwn_s'])
          totalco2 = float(test_db_df.loc[j, 'Total_CO2'])
          if totalco2 >= 100:
            labelval = 1.0
          else:
            labelval = 0.0
          testday = float(test_db_df.loc[j, 'Test_that_day'])
          sample_rate = int(test_db_df.loc[j, 'Sample_rate'])
          num_of_samples = int(cut_off_time*sample_rate/scale)

          full_data = pd.read_csv(real_path+ '/test_output' + str(int(j)) + '.csv',header = 0)
          sig_data = full_data[['Second','mV_rolling_mean']].truncate(after = cut_off_time*sample_rate-1)
          mV_data = sig_data['mV_rolling_mean'].to_numpy()
          mV_data[np.isnan(mV_data)]=0

          #if sample_rate == 500:
          if sample_rate == 500:
              mV_data = mV_data.reshape(-1, 2).mean(axis=1)

          real_test_list.append(mV_data)
          real_Ac_list.append(ac)
          real_co2_list.append(co2)
          real_temp_list.append(temp)
          labelList.append(labelval)
          real_bl_list.append(bs)
          real_ttd_list.append(testday)
          real_tbtwn_list.append(timebtwn)
          real_tco2_list.append(totalco2)
          real_sensor_list.append(sos)
  X_real = np.squeeze(np.array(real_test_list))[...,np.newaxis]
  X_real_n = pad_sequences(X_real, maxlen = 7500)

  real_data_dict = {'testnum': np.array(real_test_set), 'csvs':  np.array(X_real_n), 'label':  np.array(labelList), 'CO2':  np.array(real_co2_list), 'Ac':  np.array(real_Ac_list), 
                    'temp':  np.array(real_temp_list), 'baseline':  np.array(real_bl_list), 'ttd':  np.array(real_ttd_list), 'timebtwn':  np.array(real_tbtwn_list), 'sensor':  np.array(real_sensor_list), 
                    'tco2': np.array(real_tco2_list), 'norm_tco2': np.array(real_tco2_list)/maxtco2} 
  with open(pickle_path +'/realdatadict_oldnewclassifier_' + str(sos) + '.pickle', 'wb') as handle:
    pickle.dump(real_data_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

9
404
10
398
14
250
15
266
23
472
24
497

In [65]:
for i in range[0, len(sos_list)]:
  
real_test_set = get_test_list (test_db_df, 'all', '+', 10, sos, 3300, 20000)
print(len(real_test_set))

404

In [66]:

scale = 1
cut_off_time = 30
scale_factor = 1

real_test_list = []
real_Ac_list = []
real_co2_list = []
real_temp_list = []
real_bl_list = []
real_ttd_list = []
real_tbtwn_list = []
real_sensor_list = []
labelList = []
real_tco2_list = []

for j in real_test_set:
        ac = float(test_db_df.loc[j, 'Acetone'])
        co2 = int(test_db_df.loc[j, 'CO2'])/(2000*scale_factor)
        temp = float(test_db_df.loc[j, 'Instr_Temp'])
        bs = float(test_db_df.loc[j, 'Baseline'])
        timebtwn = float(test_db_df.loc[j, 'Time_Btwn_s'])
        totalco2 = float(test_db_df.loc[j, 'Total_CO2'])
        if totalco2 >= 100:
          labelval = 1.0
        else:
          labelval = 0.0
        testday = float(test_db_df.loc[j, 'Test_that_day'])
        sample_rate = int(test_db_df.loc[j, 'Sample_rate'])
        num_of_samples = int(cut_off_time*sample_rate/scale)
    
        full_data = pd.read_csv(real_path+ '/test_output' + str(int(j)) + '.csv',header = 0)
        sig_data = full_data[['Second','mV_rolling_mean']].truncate(after = cut_off_time*sample_rate-1)
        mV_data = sig_data['mV_rolling_mean'].to_numpy()
        mV_data[np.isnan(mV_data)]=0
               
        #if sample_rate == 500:
        if sample_rate == 500:
            mV_data = mV_data.reshape(-1, 2).mean(axis=1)
       
        real_test_list.append(mV_data)
        real_Ac_list.append(ac)
        real_co2_list.append(co2)
        real_temp_list.append(temp)
        labelList.append(labelval)
        real_bl_list.append(bs)
        real_ttd_list.append(testday)
        real_tbtwn_list.append(timebtwn)
        real_tco2_list.append(totalco2)
        real_sensor_list.append(sos)
X_real = np.squeeze(np.array(real_test_list))[...,np.newaxis]
X_real_n = pad_sequences(X_real, maxlen = 7500)

real_data_dict = {'testnum': np.array(real_test_set), 'csvs':  np.array(X_real_n), 'label':  np.array(labelList), 'CO2':  np.array(real_co2_list), 'Ac':  np.array(real_Ac_list), 
                  'temp':  np.array(real_temp_list), 'baseline':  np.array(real_bl_list), 'ttd':  np.array(real_ttd_list), 'timebtwn':  np.array(real_tbtwn_list), 'sensor':  np.array(real_sensor_list), 
                  'tco2': np.array(real_tco2_list), 'norm_tco2': np.array(real_tco2_list)/maxtco2}

In [67]:
with open(pickle_path +'/realdatadict_oldnewclassifier_' + str(sos) + '.pickle', 'wb') as handle:
    pickle.dump(real_data_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)